$gray: #F7F6F6;
$blue: #4134FF;
$black: #23273A;
$soft-white: #FBFBFB;



html {
  scroll-behavior: smooth;
}



.bg-main
{
    background-image: linear-gradient(90deg, #4134FF 0%, #1B8BFF 100%);
}



 .bg-blue
 {
     background: $blue;
 }


.w-80
{
    width: 80%;
}


.fw-700
{
    font-weight: 700; 
}





@media screen and (min-width:992px)
{
    .main-title
    {
        font-size: 3.9rem;
        line-height: 1;
    }


    .fs-20
    {
        font-size: 22px;
    }

    .r-image
    {
        height: 35px;
    }


    .r-hw
    {
        height: 130px;
        width: 130px;
    }

    
    .w-16
    {
        width: 16%;
    }


    
.hh-100
{
    height: 100vh;
  //  background-image: linear-gradient(90deg, $blue 60%, #ffffff 50.1%);
}


}


@media screen and (min-width:1200px)
{

     .main-title
    {
        font-size: 5rem;
        line-height: 1;
    }


    .fs-20
    {
        font-size: 24px;
    }

}



@media screen and (min-width:768px)
{
    
    .iconos
    {
        height: 25px;
        width: 25px;
    }

}


@media screen and (max-width:767px)
{
    .pt-6
    {
          padding-top: 9rem;
    }

    .r-image
    {
        height: 45px;
    }

    .iconos
    {
        width: 7.8vw;
    }

}




.bg-gray-l
{
    background-color: $gray;
}




.c-black
{
    color: $black;
}


.bg-soft
{
    background-color: $soft-white;
}




.hola
{
    background-color: red;
}


.sticky
{
    position: fixed;
    width: 100%;
    z-index: 9;
}


.fs-18
{
    font-size: 18px;
}

 
.opacityOFF
{
    animation: opaOUT .5s linear;
}
 

.opacityON
{
    animation: opaon .5s linear forwards; 
}

 
@keyframes opaOUT
{
    from
    {
        background-color: $blue;
    }

    to
    {
        background-color: transparent;
    }
}

 

@keyframes opaon
{
    from
    {
        background-color: transparent;
    }

    to
    {
        background-color: $blue;
    }
}



.down
{
    animation: efecto 1.2s ease-in-out infinite alternate;
}


@keyframes efecto 
{
    from 
    {
        transform: translateY(0);
    }

    to
    {
        transform: translateY(19px);
    }
}



